import { Component } from '@angular/core';
<% if (withPresenter) { %>import { <%= classify(name) %>Presenter } from './<%= dasherize(name) %>.presenter';<% } %>

@Component({
  selector: 'app-<%= dasherize(name) %>',
  templateUrl: './<%= dasherize(name) %>.container.html'
})
export class <%= classify(name) %>Container {
  <% if (withPresenter) { %>presenter = new <%= classify(name) %>Presenter();<% } %>
}
